# Data Exploration

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# read data
df= pd.read_excel('../Data/Final_Merged_Youtube_Channels_Stats.xlsx')

In [12]:
df.head()

  Rank            Channel   Videos Subscribers    Views Country
0   #1           T-Series   23.79K        297M  302.28B   India
1   #2          SET India  156.25K        184M  178.84B   India
2   #3  Zee Music Company    14.4K        118M   79.04B   India
3   #4          Goldmines   10.87K        105M   30.47B   India
4   #5           Sony SAB  100.21K        102M  131.09B   India

In [17]:
# shape of data
print(f'Number of rows = {df.shape[0]}')
print(f'Number of columns = {df.shape[1]}')

Number of rows = 2200
Number of columns = 6

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         2200 non-null   object
 1   Channel      2200 non-null   object
 2   Videos       2200 non-null   object
 3   Subscribers  2200 non-null   object
 4   Views        2200 non-null   object
 5   Country      2200 non-null   object
dtypes: object(6)
memory usage: 103.2+ KB

In [20]:
df.describe().T

            count unique              top freq
Rank         2200    100               #1   22
Channel      2200   2199  IBRAHIM ELHIDIR    2
Videos       2200   1289            1.06K   12
Subscribers  2200    931            10.5M   13
Views        2200   1323            1.57B   10
Country      2200     22            India  100

In [19]:
df.columns

Index(['Rank', 'Channel', 'Videos', 'Subscribers', 'Views', 'Country'], dtype='object')

In [23]:
df.duplicated().sum()

np.int64(0)

In [24]:
df.isnull().sum()

Rank           0
Channel        0
Videos         0
Subscribers    0
Views          0
Country        0
dtype: int64

In [ ]:
df.head()

  Rank            Channel   Videos Subscribers    Views Country
0   #1           T-Series   23.68K        296M  300.41B   India
1   #2          SET India  155.72K        184M   178.3B   India
2   #3  Zee Music Company   14.31K        118M   78.51B   India
3   #4          Goldmines   10.74K        105M   30.33B   India
4   #5           Sony SAB    99.7K        101M  130.41B   India